@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-2">
               
                <ejs-datepicker id="datepicker"></ejs-datepicker>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">

                <input id="currency" type="text" />
            </div>
        </div>


       
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        datepicker = document.getElementById('datepicker').ej2_instances[0];

        ej.base.setCulture('el');
        ej.base.setCurrencyCode('EUR');
        loadCultureFiles('el');
      

        var L10n = ej.base.L10n;
        L10n.load({
            'el': {
                'datepicker': {
                    placeholder: 'Επιλέξτε ημερομηνία',
                    today: 'σήμερα'
                }
            }
        });
  
        var currency = new ej.inputs.NumericTextBox({
            
            format:'C',
            value: 100
        });
        currency.appendTo('#currency');

    });
    function loadCultureFiles2(name) {       //for number format translations 
        var files = ['numbers.json', 'timeZoneNames.json', 'currencies.json', 'ca-gregorian.json']; 
        var loadCulture = function (prop) { 
            var val, ajax; 
            ajax = new ej.base.Ajax(location.origin + '/../../lib/cldr-data/main/' + name + '/' + files[prop], 'GET', true); 
            ajax.onSuccess = function (value) { 
                val = value; 
                ej.base.loadCldr(JSON.parse(val)); 
            }; 
            ajax.send(); 
            ej.base.setCulture('pt'); 
        }; 
        for (var prop = 0; prop < files.length; prop++) { 
            loadCulture(prop); 
        } 
    } 
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json', 'currencies.json'];
        if (name === 'ar') {
            files.push('numberingSystems.json');
        }
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            if (name === 'ar' && prop === files.length - 1) {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../lib/cldr-data/supplemental/' + files[prop], 'GET', false);
            } else {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../lib/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            }
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }

</script>